#guesses-remaining {
    width:100px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 50;
  }

  #current-word {
      width:50px;
      text-align: center;
      margin: 35px;
      letter-spacing: 5px;
  }

  .word-box {
      border: 2px;
      border-style: solid;
  }
  /* var currentWord = document.getElementById("current-word").innerHTML.split("");
  currentWord[i] = letter;
  document.getElementById("current-word") = currentWord.join(""); */